/* Body */
body{
    background-color: #EDEDED; 
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #00CED1;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}